.auth__main {
	align-items: center;
	background-color: $primary;
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

.auth__box-container {
	background-color: #fff;
	box-shadow: 0 3px $dark-grey;
	border-radius: 8px;
	padding: 20px;
	width: 320px;
}

.auth__title {
	font-size: 20px;
	color: darken($color: $primary, $amount: 20);
}

.auth__input {
	line-height: 24px;
	padding: 6px 16px;
	border: 1px solid $primary;
	border-radius: 8px;
	width: 100%;
	&:focus {
		box-shadow: 0 0 0 0.15rem lighten($color: $primary, $amount: 30);
	}
}

.auth__social-networks {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
}

.auth__alert-error {
	background-color: #ff003d;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	padding: 5px;
}
