.journal__main-content {
	display: flex;
}
.journal__sidebar {
	background-color: $dark-grey;
	color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-left: 10px;
	padding-right: 10px;
	width: 380px;
}
.journal__sidebar-navbar {
	display: flex;
	justify-content: space-between;
}
.journal__sidebar-navbar h3 {
	font-weight: lighter;
}
.journal__new-entry {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
	transition: color 0.3s ease;
	&:hover {
		color: darken($color: white, $amount: 20);
	}
}
.journal__entries {
	margin-top: 30px;
	flex: 1 1 auto;
	overflow: scroll;
}
.journal___entry {
	background-color: #fff;
	border-radius: 8px;
	color: $dark-grey;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	overflow: hidden;
}
.journal___entry-picture {
	height: 74px;
	width: 74px;
}

.journal___entry-body {
	padding: 12px;
}
.journal___entry-title {
	font-size: 14px;
	font-weight: bold;
}
.journal___entry-conten {
	font-size: 12px;
}
.journal___entry-date-box {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 6px;
	span {
		font-size: 12px;
	}
}
